<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CRDFLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CRDFTool copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>HeaderTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RadarLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6EA6B61319E610180066ECA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EAAFACD19E8E1A100243453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EAAFAD819E8E2ED00243453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EAAFAE019E8E39400243453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EAAFAF619E8E64700243453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
